services:
  postgres:
    image: postgres:16
    container_name: desafio-tecnico-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: desafio_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: desafio-tecnico-backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/desafio_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  frontend:
    image: node:20-alpine
    container_name: desafio-tecnico-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command:
      sh -c "npm install && npm run build && npx serve -s dist/frontend/browser -l 80"
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  postgres_data: